* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding-block-start: 100px;

}

#botonApagar {
    display: none;
}

#imgEncendido {

    display: none;
}

#sinEspacio {

    display: none;
}

#piedraUsuario,
#piedraAlgoritmo,
#papelUsuario,
#papelAlgoritmo,
#tijeraUsuario,
#tijeraAlgoritmo {
    display: none;
}


@media screen and (max-width: 300px) {}

@media all and (min-width:301px) and (max-width:499px) {}


@media all and (min-width:768px) and (max-width:991px) {}